<div nz-row>
	<div nz-col nzSpan="12" nzOffset="6">
		<h3 [ngStyle]="{ 'margin': '8px 0', 'text-align': 'center' }">Common Room</h3>
		<nz-list [nzDataSource]="chatData" nzBordered nzSize="small" [nzHeader]="chatHeader" [nzFooter]="chatFooter"
			[nzRenderItem]="smallItem">
			<ng-template #chatHeader>
				<span *ngIf="roomName != '' && roomName != null">
					Room: <strong>{{roomName}}</strong>&nbsp;
				</span>
				<span *ngIf="roomName == '' || roomName == null">
					Room: <i>Join a room now!</i>&nbsp;
				</span>
				<button nz-button nzType="dashed" [nzLoading]="isJoiningRoom" (click)="whereTo()">
					<i nz-icon nzType="setting"></i>User & Room
				</button>
			</ng-template>
			<ng-template #smallItem let-message>
				<nz-list-item>
					<span class="ant-typography"><strong>{{message.name}}:&nbsp;</strong></span>
					{{message.message}}
				</nz-list-item>
			</ng-template>
			<ng-template #chatFooter>
				<span>Users in room: 10</span>
			</ng-template>
		</nz-list>
		<form nz-form [formGroup]="myForm" (ngSubmit)="sendMessage()">
			<nz-form-item [ngStyle]="{ margin: '8px 0 3px' }">
				<!-- <nz-form-label [nzSm]="6" nzFor="mention">Top coders</nz-form-label> -->
				<nz-form-control [nzSm]="24" nzErrorTip="Shout with words!">
					<nz-mention #mentions [nzSuggestions]="chatNames">
						<input id="mention" #myInput placeholder="Shout here!" formControlName="mention"
							nzMentionTrigger nz-input />
					</nz-mention>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item nz-row style="margin-bottom: 8px;">
				<nz-form-control [nzSpan]="24" [ngStyle]="{ 'text-align': 'center' }">
					<button type="button" nz-button nzType="primary" (click)="sendMessage()" nzBlock>Send</button>
					<button type="button" nz-button (click)="resetForm()" nzBlock>Reset</button>
				</nz-form-control>
			</nz-form-item>
		</form>
		<nz-modal [(nzVisible)]="joinRoomModal" nzTitle="Which room you are looking for?" (nzOnCancel)="noWhere()"
			(nzOnOk)="start()" [nzOkLoading]="isJoiningRoom" [nzOkText]="'Join Room'">

			<nz-input-group [nzSuffix]="suffixUserInfo" [nzPrefix]="prefixUserInfo">
				<input [(ngModel)]="userName" type="text" nz-input placeholder="Enter your username" name="userName"
					#userNameInput />
			</nz-input-group>
			<ng-template #prefixUserInfo><i nz-icon nzType="user"></i></ng-template>
			<ng-template #suffixUserInfo><i nz-icon nz-tooltip nzTitle="Use new or existing username"
					nzType="info-circle"></i>
			</ng-template>
			<br><br>
			<label nz-checkbox [(ngModel)]="isJoinPrivateRoom">Join a private room</label>
			<br><br>
			<nz-input-group [hidden]="!isJoinPrivateRoom" [nzSuffix]="suffixRoomInfo" [nzPrefix]="prefixRoomInfo">
				<input [(ngModel)]="roomName" type="text" nz-input placeholder="Enter your room name" name="roomName" />
			</nz-input-group>
			<ng-template #prefixRoomInfo><i nz-icon nzType="home"></i></ng-template>
			<ng-template #suffixRoomInfo><i nz-icon nz-tooltip nzTitle="Enter private room name"
					nzType="info-circle"></i>
			</ng-template>

		</nz-modal>
	</div>
</div>